!!!
html(lang='en')
	meta(charset='utf-8')
	head
		title simlr.me | Chat log
		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300',rel='stylesheet',type='text/css')
		link(rel="stylesheet",type="text/css",href="/dist/css/bootstrap.css")
		link(rel='shortcut icon',type='image/png',href='/img/favicon.ico')
	style.
		.chatLog{
			border : 1px solid #eee;
			border-radius : 5px;
			padding : 20px;
		}
		.opinions{
			border : 1px solid #eee;
			border-radius : 5px;
			padding : 10px;
		}
		.sender{
			font-weight : bold;
		}
		.message{
			margin : 5px;
		}
	body
		div(class='container')
			div.row#header
				div.col.col-lg-12
					a(href='/')
						img(src='/dist/css/img/logo.png',id='logo')
			.row
				.col.col-lg-9.chatLogContainer
						h2 Conversation between you and #{twinName}
						hr
						.chatLog
							each message in messages
								.row.message
									.col.col-lg-12
										p
											span.sender #{message.from} : 
											span.content #{message.content}
				.col.col-lg-3.chatQuestionsContainer
						h2 Q's and Opinions
						hr
						.opinions
							each question in questions
								.row
									.col.col-lg-12.questions
										h3 #{question.q}
										p.userAnswer 
											span.userName You : 
											span.userAnswerContent #{question.userAnswer}
										p.twinAnswer
											span.twinName #{twinName} : 
											span.twinAnswerContent #{question.twinAnswer}
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-45173312-1', 'simlr.me');