!!!
html(lang='en')
	meta(charset='utf-8')
	head
		title simlr.me | Instantly discover similar people
		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300',rel='stylesheet',type='text/css')
		link(rel="stylesheet",type="text/css",href="/dist/css/all.css")
		link(rel='shortcut icon',type='image/png',href='/img/favicon.ico')
	body
		div(class='container')
			div.row#header
				div.col.col-lg-12
					a(href='/')
						img(src='/dist/css/img/logo.png',id='logo')
			div(class='row',id='main')
			div(class='overlay',style='display : none;')
		script(type='application/javascript',data-main='dist/scripts/config',src='dist/require.js')
		script.
			requirejs.config({
			config : {
					'app' : {
						miniProfileData 	: !{JSON.stringify(profileModelData)}
					}
				}
			})
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-45173312-1', 'simlr.me');