!!!
html(lang='en')
	meta(charset='utf-8')
	head
		title Welcome
		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		style.
			@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400");
			#bg{
				width 	 : 100%;
				position : absolute;
				left 	 : 0;
				top 	 : 0;
				z-index  : 100 !important;
			}
			h1{
				color 	  	: #3498db;
				-webkit-text-shadow:rgba(0,0,0,0.1) 0 1px 0;
				-moz-text-shadow:rgba(0,0,0,0.1) 0 1px 0;
				-ms-text-shadow:rgba(0,0,0,0.1) 0 1px 0;
				-o-text-shadow:rgba(0,0,0,0.1) 0 1px 0;
				text-shadow:rgba(0,0,0,0.1) 0 1px 0;
				margin 	  	: 0.3em 0;
				font-size 	: 96px;
				font-weight : 300;
			}
			h3{
				font-size : 32px;
				font-weight : 200;
			}
			body{
				font-family : 'Source Sans Pro','Segoe UI','Myraid Pro';
				font-weight : 300;
				font-size 	: 30px;
				text-align 	: center;
				overflow 	: hidden;
				overflow-x 	: hidden;
				color 		: black;
			}
			.content{
				text-align 	: center;
				position: relative;
				z-index : 1000;
			}
			#registerForm input{
				font-family : 'Source Sans Pro';
				cursor : pointer;
				outline : none;
				background-color : transparent;
				border : 0;
				border-bottom : 1px solid #3498db;
				font-size : 30px;
				padding : 3px 0;
			}
			#loginForm input{
				font-family : 'Source Sans Pro';
				font-size 	: 30px;
				font-weight : 300;
				outline 	: none;
				cursor 		: pointer;
			}
			button{
				font-family : 'Source Sans Pro';
				font-size 	: 0.5em;
				text-transform : uppercase;
				cursor : pointer; 
				font-weight : bold;
				margin-left : 2em;
				padding : 11px 22px;
				border : 0;
				letter-spacing : 1px;
				border-radius : 4px;
				color : white;
				background-color : #3498db;
				-webkit-text-shadow:rgba(0,0,0,0.1) 0 1px 0;
				-moz-text-shadow:rgba(0,0,0,0.1) 0 1px 0;
				-ms-text-shadow:rgba(0,0,0,0.1) 0 1px 0;
				-o-text-shadow:rgba(0,0,0,0.1) 0 1px 0;
				text-shadow:rgba(0,0,0,0.1) 0 1px 0;
				-webkit-border-radius:4px;
				-moz-border-radius:4px;
				-ms-border-radius:4px;
				-o-border-radius:4px;
				-webkit-box-shadow:inset 0 .1em 0 rgba(255,255,255,0.1),inset 0 -.15em 0 rgba(0,0,0,0.2),0 .15em 0 rgba(0,0,0,0.075);
				-moz-box-shadow:inset 0 .1em 0 rgba(255,255,255,0.1),inset 0 -.15em 0 rgba(0,0,0,0.2),0 .15em 0 rgba(0,0,0,0.075);
				-ms-box-shadow:inset 0 .1em 0 rgba(255,255,255,0.1),inset 0 -.15em 0 rgba(0,0,0,0.2),0 .15em 0 rgba(0,0,0,0.075);
				-o-box-shadow:inset 0 .1em 0 rgba(255,255,255,0.1),inset 0 -.15em 0 rgba(0,0,0,0.2),0 .15em 0 rgba(0,0,0,0.075);
				box-shadow:inset 0 .1em 0 rgba(255,255,255,0.1),inset 0 -.15em 0 rgba(0,0,0,0.2),0 .15em 0 rgba(0,0,0,0.075);
			}		

	body
		img(id='bg',src='/assets/css/newBg.jpg')
		div#header.content
			div#logo
			div#login
				form(method='POST',action='/login',id='loginForm')
					label Email: 
						input(type='email',name='email',required)
					label Password: 
						input(type='password',name='pwd',required)
					button(type='submit') Login


		div#center.content
			h1 Discover interesting people
			h3 Connect with people who share your interests
			form(method='POST',action='/register',id='registerForm')
				label
					input(type='text',placeholder='sachin.tendulkar2011',name='email')
					span#domain @vit.ac.in
				button(type='submit') Sign Up
		div#footer.content
		script(type='application/javascript',src='http://code.jquery.com/jquery-1.10.2.min.js')
		script.
			jQuery(document).ready(function($){
				
			})
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-45173312-1', 'simlr.me');
			ga('send', 'pageview');

