!!!
html(lang='en')
	meta(charset='utf-8')
	head
		title Welcome
		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet",href="./dist/css/bootstrap.css")
		link(rel="stylesheet",href="./dist/css/registerStyles.css")
	body
		div.container
			div#logo.row
				.col.col-lg-12
					a(href='/')
						img(src='/dist/css/img/logo.png',id='logoImg')
			div#header
				h2 Almost done..
			div.row
				div.col.col-lg-12
					h3#headerTitle Choose any 5 interests
					div.interests
						-if(typeof interests === 'undefined') console.log('IM SORRY')
						div.row
							div.col.col-lg-6
								div(class='interest',id=interests[0].pid)
									div.row
										div.col.col-lg-12
											- var url = './dist/css/img/'+interests[0].pid+'.png';
											img(src=url,alt=interests[0].title)
									div.row
										div.col.col-lg-12
											p #{interests[0].title}
								div(class='interest',id=interests[1].pid)
									div.row
										div.col.col-lg-12
											- var url = './dist/css/img/'+interests[1].pid+'.png';
											img(src=url,alt=interests[1].title)
									div.row
										div.col.col-lg-12
											p #{interests[1].title}
								div(class='interest',id=interests[2].pid)
										div.row
											div.col.col-lg-12
												- var url = './dist/css/img/'+interests[2].pid+'.png';
												img(src=url,alt=interests[2].title)
										div.row
											div.col.col-lg-12
												p #{interests[2].title}
							div.col.col-lg-6
								div(class='interest',id=interests[3].pid)
										div.row
											div.col.col-lg-12
												- var url = './dist/css/img/'+interests[3].pid+'.png';
												img(src=url,alt=interests[3].title)
										div.row
											div.col.col-lg-12
												p #{interests[3].title}
								div(class='interest',id=interests[4].pid)
										div.row
											div.col.col-lg-12
												- var url = './dist/css/img/'+interests[4].pid+'.png';
												img(src=url,alt=interests[4].title)
										div.row
											div.col.col-lg-12
												p #{interests[4].title}
								div(class='interest',id=interests[5].pid)
										div.row
											div.col.col-lg-12
												- var url = './dist/css/img/'+interests[5].pid+'.png';
												img(src=url,alt=interests[5].title)
										div.row
											div.col.col-lg-12
												p #{interests[5].title}
						div.row
							div.col.col-lg-6
								div(class='interest',id=interests[7].pid)
										div.row
											div.col.col-lg-12
												- var url = './dist/css/img/'+interests[7].pid+'.png';
												img(src=url,alt=interests[7].title)
										div.row
											div.col.col-lg-12
												p #{interests[7].title}
								div(class='interest',id=interests[8].pid)
										div.row
											div.col.col-lg-12
												- var url = './dist/css/img/'+interests[8].pid+'.png';
												img(src=url,alt=interests[8].title)
										div.row
											div.col.col-lg-12
												p #{interests[8].title}
								div(class='interest',id=interests[9].pid)
										div.row
											div.col.col-lg-12
												- var url = './dist/css/img/'+interests[9].pid+'.png';
												img(src=url,alt=interests[9].title)
										div.row
											div.col.col-lg-12
												p #{interests[9].title}
							div.col.col-lg-6
								div(class='interest',id=interests[10].pid)
										div.row
											div.col.col-lg-12
												- var url = './dist/css/img/'+interests[10].pid+'.png';
												img(src=url,alt=interests[10].title)
										div.row
											div.col.col-lg-12
												p #{interests[10].title}
								div(class='interest',id=interests[11].pid)
										div.row
											div.col.col-lg-12
												- var url = './dist/css/img/'+interests[11].pid+'.png';
												img(src=url,alt=interests[11].title)
										div.row
											div.col.col-lg-12
												p #{interests[11].title}
								div(class='interest',id=interests[12].pid)
										div.row
											div.col.col-lg-12
												- var url = './dist/css/img/'+interests[12].pid+'.png';
												img(src=url,alt=interests[12].title)
										div.row
											div.col.col-lg-12
												p #{interests[12].title}
						div.row
							div.col.col-lg-6
								div(class='interest',id=interests[13].pid)
										div.row
											div.col.col-lg-12
												- var url = './dist/css/img/'+interests[13].pid+'.png';
												img(src=url,alt=interests[13].title)
										div.row
											div.col.col-lg-12
												p #{interests[13].title}
								div(class='interest',id=interests[14].pid)
										div.row
											div.col.col-lg-12
												- var url = './dist/css/img/'+interests[14].pid+'.png';
												img(src=url,alt=interests[14].title)
										div.row
											div.col.col-lg-12
												p #{interests[14].title}
								div(class='interest',id=interests[15].pid)
										div.row
											div.col.col-lg-12
												- var url = './dist/css/img/'+interests[15].pid+'.png';
												img(src=url,alt=interests[15].title)
										div.row
											div.col.col-lg-12
												p #{interests[15].title}
							div.col.col-lg-6
								div(class='interest',id=interests[16].pid)
										div.row
											div.col.col-lg-12
												- var url = './dist/css/img/'+interests[16].pid+'.png';
												img(src=url,alt=interests[16].title)
										div.row
											div.col.col-lg-12
												p #{interests[16].title}
								div(class='interest',id=interests[17].pid)
										div.row
											div.col.col-lg-12
												- var url = './dist/css/img/'+interests[17].pid+'.png';
												img(src=url,alt=interests[17].title)
										div.row
											div.col.col-lg-12
												p #{interests[17].title}
								div(class='interest',id=interests[6].pid)
										div.row
											div.col.col-lg-12
												- var url = './dist/css/img/'+interests[6].pid+'.png';
												img(src=url,alt=interests[6].title)
										div.row
											div.col.col-lg-12
												p #{interests[6].title}

			hr
			div.row#finishContainer
				div.col.col-offset-4.col-lg-4
					button(class='btn btn-default disabled',id='submit') Finish

			div.userId(id=id)
			//
				hr
				div.row
					div.col.col-lg-12#manualRegister
						a(href='#',id='manualButton') or Sign up with your email
						form.form-horizontal
							div.row
								label(for='fname',class='col col-lg-2 control label') Name
								div.col.col-lg-4.col-offset-2
									input(type='text',id='fname',placeholder='First Name')
									input(type='text',id='lname',placeholder='Last Name')
							div.row
								label(for='password',class='col col-lg-2 control label') Password :
								div.col.col-lg-4.col-offset-2
									input(type='password',id='password',placeholder='password')
							div.row
								label(for='cpassword',class='col col-lg-2 control label') Confirm Password :
								div.col.col-lg-4.col-offset-2
									input(type='password',id='cpassword',placeholder='Same as above')
							div.row
								label(for='altEmail',class='col col-lg-2 control label') Alternate Email :
								div.col.col-lg-4.col-offset-2
									input(type='email',id='altEmail',placeholder='alternate@example.com')
							div.row
								label(for='gender',class='col col-lg-2 control label') Gender
								div.col.col-lg-4.col-offset-2
									select(name='gender')
										option(value='male') Male
										option(value='female') Female
							div.row
								label(for='age',class='col col-lg-2 control label') Age group
								div.col.col-lg-4.col-offset-2
									select(name='age')
										option(value='0') &lt; 13
										option(value='1') 14-17
										option(value='2',selected='selected') 18-22
										option(value='3') 22-25
										option(value='4') 25-30
										option(value='5') 30-40
										option(value='6') 40+
							div.row
								div.col.col-offset-4.col-lg-4
									button(type='submit',class='btn btn-default btn-block') Register
		script(type='application/javascript',src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script.
			jQuery(document).ready(function($){
				var id = window.id = $('.userId').attr('id');

				var launchSemaphore = false;

				$('.interest').click(function(e){
					$(e.currentTarget).toggleClass('checked');
					if($('.checked').length === 5){
						if(!$('#submit').hasClass('disabled')) $('#headerTitle').text('Ready to roll, press finish.')
						else launchFinish();
					}
					else if($('.checked').length > 5) {
						$('#headerTitle').fadeOut().hide(0).fadeIn();
						$(e.currentTarget).toggleClass('checked');
					}
					else {
						$('#headerTitle').html("<span style='color : #ed0f69;'>"+parseInt(5 - $('.checked').length)+"</span> more remaining.")
					}
				})
				var launchFinish = function(){
					if(launchSemaphore) return;
					launchSemaphore = true;
					$('#headerTitle').fadeOut().text('Press finish to join the adventure !').css({color : '#3498db'}).hide(0).fadeIn();
					$('#submit').removeClass('disabled');
					$('#submit').click(function(){
						$('#submit').addClass('disabled');
						var params = [];
						$('.checked').each(function(i,v){
							params.push($(v).attr('id'));
						})
						if(params.length !== 5){
							$('#headerTitle').fadeOut().text('Select exactly 5 interests to continue.').css({color : '#ed0f69'}).hide(0).fadeIn();
							$('#submit').removeClass('disabled');
							return;
						}
						params = params.join(';');
						$.ajax({
							url : '/registerProfile',
							type: 'POST',
							data : {
								id 	   : id,
								params : params
							}
						})
						.done(function(){
							window.location = '/';
						})
						.fail(function(){
							$('h2').fadeOut().text('Please connect to your internet and try again').css({color : '#ed0f69'}).hide(0).fadeIn();
						})
					});
				}
				/*
				$('#manualButton').click(function(){
					$('.form-horizontal').fadeIn();
				})
				*/
			})
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-45173312-1', 'simlr.me');
			ga('send', 'pageview');

