@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: url('./img/bg.jpg');
	background-repeat: no-repeat; 
	background-color: #3399FF;
}

h1,h2,h3{
	text-align: center;
	color: #fff;
	font-family: 'Source Sans Pro';
	font-weight: 300;
	text-shadow: rgb(85, 85, 85) 0px -1px 0px;
}

h1{
	font-size: 5em;
	margin: 0 0 0.4em 0;
}

h3{
	font-size: 2em;
}

hgroup{
	margin-left: 6%;
	display: inline-block;
}

section{
	display: inline;
}

ul{
	list-style: none;
}

button{
	text-transform: uppercase;
	font-weight: bold !important;
}

.right {
	margin: 0;
	float: right;
	display: inline;
}

.banner{
	width: 100%;
	background-color: #fff;

}

#headerContainer {
	height: 60px;
}

#logo{
	margin: 0;
	text-align: left;
	line-height: 50px;
}

#logo img {
	width: 190px;
	vertical-align: baseline;
}

/* End of header , begin bootstrap styles*/

#signIn{
float: right;
margin: 20px 8%;
}

#arrow img{

position: absolute;
top: 20%;
left: 32%;
animation: scroll-arrow-animation 750ms ease-in-out infinite alternate;
-moz-animation: scroll-arrow-animation 750ms ease-in-out infinite alternate;
-webkit-animation: scroll-arrow-animation 750ms ease-in-out infinite alternate;
-o-animation: scroll-arrow-animation 750ms ease-in-out infinite alternate;
}

@keyframes scroll-arrow-animation{
	from{left: 32%;} to{left: 34%;}
}
@-webkit-keyframes scroll-arrow-animation{
	from{left: 32%;} to{left: 34%;}
}
@-moz-keyframes scroll-arrow-animation{
	from{left: 32%;} to{left: 34%;}
}
@-o-keyframes scroll-arrow-animation{
	from{left: 32%;} to{left: 34%;}
}

#fbSignUp{
	text-align: center;
}

#fbButton{
	display: inline-block;
	font-size: 18px;
	line-height: 16px;
	font-weight: bold;
	color: #fff !important;
	padding: 22px 30px 18px 60px;
	background: #3b5998 url(./img/fb.png) no-repeat 30px 50%;
	vertical-align: middle;
	zoom : 1;
	margin: 0;
	border-radius: 6px;
	border: 1px solid transparent;
	text-decoration: none;
	letter-spacing: 0.8px;
}

#fbButton:hover{
	background-color: #30487b;
}


#fbFacePile{
	padding: 10px;
	background-color: rgba(0,0,0,0.7);
	margin: 10px auto;
	width: 320px;
	border-radius: 4px;
}


.eyeCatchyShitContainer{
	text-align: center;
	margin-top: 20px;
}

.eyeCatchyShitContainer img{
	width: 70px;
}

.eyeCatchyShit{
	padding: 20px;
	background-color: rgba(0,0,0,0.3);
}

.eyeCatchyShit .col-lg-4{
	padding: 0 20px;
}

.eyeCatchyShitContainer h3,.eyeCatchyShitContainer h5{
	color: white;
	margin : 10px;
}