@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

.container{
	text-align 	: center;
}

h2,h3,h4{
	font-family : 'Source Sans Pro','Helvetica Neue',Arial;
	font-weight : 300;
	color 	  	: #3498db;
	margin: 10px 0;
}

h2{
	font-size: 3em;
}

h3{
	font-size: 2.7em
}

h4{
	font-size: 2.5em;
}

body{
	font-size: 11px;
}

hr{
	margin: 10px 0 !important;
}

#logo{
	border: 1px solid #eee;
	border-radius: 5px;
}

#logoImg{
	width: 190px;
}

.interest{
	font-weight: bold;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	width: 30%;
	height: auto;
	background-color: transparent;
}
/*Light Blue color*/
.interest:hover{
	background-color: #DFEAFF; 
}

.interests>.row>.col-lg-6{
	margin-right: -6%;
}

/*Dark Blue color*/
.checked {
	background-repeat: no-repeat;
	background-position: 95% 0; 
	background-image: url('./img/checkBig.png');
}

label{
	color : #333 !important;
	font-size: 100% !important;
}

button{
	font-weight: bold !important;
}

