body{
	font-weight: 400;
	color: rgb(0,0,0);
	background-image: url('./img/bg-pattern.png');
}

h1,h2,h3{
	font-weight: 300;
	font-family: 'Source Sans Pro';
}

h1{
	color: #333;
	font-size: 50px;
	margin: 0;
}

h2{
	color: #3399FF;
	font-size: 34px;
	margin: 0;
}

h3{
	color: #3399FF;
	font-size: 30px;
	margin: 0;
}

h4{
	font-weight: normal;
	color: #333;
	font-size: 18px;
	margin: 0;
	padding: 5px;
}

h5{
	margin: 5px;
}

hr{
	margin: 10px 0;
}

a{
  cursor: pointer;
}

#main {
	margin-top: 10px;
}

.overlay{
	margin : 20%;
	text-align: center;
}

#header{
	margin-top: 10px;
}

#logo{
	width: 178px;
}


/*miniprofile-rg starts*/

#miniprofile-rg,#center-rg {
	border-right: 1px solid #eee;
}

#miniprofile-basic{
	text-align: center;
}

#miniprofile-basic > a,#miniprofile-basic img{
	display: inline-block;
	width: 150px;
	border-radius: 5px;
}

#socialStatus{
	font-family: arial;
	margin: 10px auto;
	text-align: center;
}

#qtip-socialStatusBadge{
	text-align: center;
}

#qtip-socialStatusBadge .row{
	margin-top: 10px;
	margin-bottom: 10px;	
}

#qtip-socialStatusBadge span{
	font-size: 10px;
}

.qtip{
	font-family: 'Segoe UI','lucida grande',tahoma,verdana;
}

#user-name{
	color: #333;
	text-transform: capitalize;
}

#user-status-icon{
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	border-radius: 3px;
	background-color: #98db34;
}

#miniprofile-alerts{
	text-align: center;
}

#messages,#notificationsBtn{
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 5px 10px;
}

#messages{
	background-image: url('./img/messages.png');
}

#notificationsBtn{
	background-image: url('./img/notifications.png');
}

.testimoniesContainer{
	height: 270px;
	overflow : auto;
}

.testimonyWrapper{
	padding: 5px;
	margin-top: 10px;
	border-radius: 5px;
	border 	: 1px solid #eee;
}

.testimony{
	margin : 0;
}

.settingsContainer>div{
	padding: 10px;
	display: block;
	margin: 20px 0;
	cursor: pointer;
	color: #333;
}

.settingsContainer>div:hover{
	background-color: #f1f1f1;
}

.settingsContainer .btn-small{
	margin: 0 10px;
}

#nameChange input{
	padding: 0 12px;
	min-height: 30px;
}

.settingsInterest,.interestImage{
	margin: 0 10px;
	background-size: 100%;
	width: 40px;
	height: 40px;
	display: inline-block;
}

#current-pic img{
	border-radius: 5px;
}

/* Notifications*/

.notificationWrapper{
	padding: 10px 0;
	margin: 10px 0;
	list-style: none;
	border : 1px dashed #eee;
}

#notifications{
	min-height: 100px;
	margin: 10px;
}

#recentNotifications{
	min-height: 100px;
	margin: 0px;
}

.notification{
	display: block;
}

.notificationImage{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin : 0 10px;
}

#notification1{
	background-image: url('./img/shoutRespond.png');
}

#notification2{
	background-image: url('./img/compliments.png');
}

#notification3{
	background-image: url('./img/contact.png');
}

#notification4{
	background-image: url('./img/badge.png');
}

#notification5{
	background-image: url('./img/shoutDelete.png');
}
/*Contacts Styles*/
#contacts{
	list-style: none;
	margin : 0;
	text-align: left;
	height: 440px;
	overflow-y: auto;
}

.contact{
	display: inline-block;
	margin : 10px 10px;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
}

.contact:hover{
	border : 1px solid #eee;
}

.unfollow-close{
	display: none;
}

.contact:hover .unfollow-close{
	display : inline;
	position: absolute;
	z-index: 2000;
	top : -8px;
	left: -8px;
}

.contact img{
	border-radius: 3px;
	margin: 5px;
}

/*Thread Styles*/
#threadMessagesContainer{
	list-style: none;
	margin: 0 auto;
	margin-top: 10px;
	border-top: 1px solid #eee;
	width: 90%;
	height: 400px;
	overflow-y : auto;
}

.threadMessage.me,.threadMessage.twin{
	width: 90%;
	height: auto;
	text-align: left;
}

#twinPic,.threadSenderPic {
	border-radius: 3px;
	margin-top: 10px;
}

#twinName,#twinName+div.row,.threadSenderName{
	text-align: left;
}

#chatLayout #twinName{
	text-align: center;
}

.threadSenderName{
	color: #333;
}

.threadSenderName p{
	font-size: 14px;
	font-weight: 400;
	word-wrap : break-word;
}

.threadMessageContent{
	padding: 10px;
	margin: 0;
}

#threadMessageNew{
	display: inline-block;
	margin: 10px;
	width: 71%;

}

#threadMessageSend{
	padding: 18px 16px;
	font-weight: bold;
}

#newMessages{
	border-radius: 5px;
	border : 1px solid #eee;
	list-style: none;
	margin: 0;
}

.newMessage{
	border-bottom: 1px solid #eee;
}



/**/

.red-alert{
	margin-left: 3%;
	font-weight: bold;
	font-size: 10px;
	color: white;
	text-decoration: none;
	display: inline-block;
	position: absolute;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: #e74c3c;
}

/*Shoutbox styles*/
#shoutbox-title{
	margin-left: 100px;
}

#search-filter-wrapper{
	text-align: center;
}

#search{
	width: 60%;
	border-radius: 3px;
	display: inline-block;
	margin-right: 10px;
}

#shoutSearchSubmit {
	background-image: url('./img/search.png');
	display: inline-block;
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

#shouts-wrapper{
	margin-top: 10px;
}

#shouts-container{
	list-style: none;
	margin: 0;
	text-align: center;
}

.shout{
	border-top: 1px dashed #eee;
	padding: 10px 0;
}

.shouter-info{
	font-size: 10px;
	font-family: "Segoe UI",tahoma;
	text-align: center;
}

.shouter-status-icon{
	vertical-align: middle;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 3px;
}

.online{
	background-color: #98db34;
}

.offline{
	background-color: #ccc;
}

.shout-text{
	text-align: left;
	line-height: 1.5;
	overflow-wrap : break-word;
	word-wrap : break-word;
}

.shout-content .col-lg-2{
	padding: 0;
}

.respond{
	visibility: hidden;
}

.shout-content:hover .respond{
	visibility: visible;
}

.tags-wrapper{
	text-align: left;
	padding: 0;
}

.shout-tags > .col-lg-2{
	text-align: center;
}

.shout-tags > .col-lg-3 > a {
	vertical-align: middle;
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url('./img/tags.png');
}

.shout-tag{
	display: inline-block;
	color: #3399FF;
	font-style: italic;
	margin: 3px 15px 3px 0;
}

.shout-tag:hover{
		text-decoration: none;
}

/*center */
#shout-intro{
	min-height: 100px;
}

.small-notifications{
	margin-left: 30px;
	text-align: left;
	font-family: 'Segoe UI','lucida grande',tahoma,Arial;
	font-size: 10px;
	color: #ccc;
}

#center-rg{
	margin-top: -5px;
	text-align: center;
}

#the-great-shoutbox {
	width: 72%;
	overflow: hidden;
	display: inline-block;
}

#shout-submit-button{
	padding : 18px 16px;
	margin-left: 10px;
	font-weight: bold;
}

#shout-create~h3{
	text-align: center;
}

#magicBox {
	position: relative;
}

#magicBox h3{
	max-height: 70px;
}

#clearChecked{
	font-size : 24px;
	position  : absolute;
	top: 4%;
	left: 98%;
}

#preferences{
	margin-top: 4%;
}

.box{
	width: 45px;
	height: 45px;
	border-radius: 3px;
	display: block;
	margin: 0 auto;
	background-size: 100%;
	cursor: pointer;

}

#characterTraits > div{
	margin-bottom: 20px;
}

#interestParams > div{
	margin-bottom: 12px;
}

.hoverText{
	font-family: 'Segoe UI','lucida grande',tahoma,verdana;
	visibility: hidden;
	font-size: 12px;
	font-weight: bold;
	color: #333;
}

.box-container.checked{
	background-image: url('./img/check.png');
	background-position: -1px 0px;
	background-repeat: no-repeat;

}

.box-container:hover span{
	visibility: visible;
}

#a1 > .box{
	background-image: url('./img/1funnyone.png');
}

#a2 > .box{
	background-image: url('./img/2frank.png');
}

#a3 > .box{
	background-image: url('./img/3cutiepie.png');
}

#a4 > .box{
	background-image: url('./img/4crazy.png');
}

#a5 > .box{
	background-image: url('./img/5geeky.png');
}

#a6 > .box{
	background-image: url('./img/6badass.png');
}

#a7 > .box{
	background-image: url('./img/7sporty.png');
}

#a8 > .box{
	background-image: url('./img/8studious.png');
}

#a9 > .box{
	background-image: url('./img/9shy.png');
}

#p21 > .box,#interest21{
	background-image: url('./img/21.png');
}

#p22 > .box,#interest22{
	background-image: url('./img/22.png');
}

#p23 > .box,#interest23{
	background-image: url('./img/23.png');
}

#p24 > .box,#interest24{
	background-image: url('./img/24.png');
}

#p25 > .box,#interest25{
	background-image: url('./img/25.png');
}

#p26 > .box,#interest26{
	background-image: url('./img/26.png');
}

#p27 > .box,#interest27{
	background-image: url('./img/27.png');
}

#p28 > .box,#interest28{
	background-image: url('./img/28.png');
}

#p29 > .box,#interest29{
	background-image: url('./img/29.png');
}

#p30 > .box,#interest30{
	background-image: url('./img/30.png');
}

#p31 > .box,#interest31{
	background-image: url('./img/31.png');
}

#p32 > .box,#interest32{
	background-image: url('./img/32.png');
}

#p33 > .box,#interest33{
	background-image: url('./img/33.png');
}

#p34 > .box,#interest34{
	background-image: url('./img/34.png');
}

#p35 > .box,#interest35{
	background-image: url('./img/35.png');
}

#p36 > .box,#interest36{
	background-image: url('./img/36.png');
}

#p37 > .box,#interest37{
	background-image: url('./img/37.png');
}

#p38 > .box,#interest38{
	background-image: url('./img/38.png');
}

.btn-block {
	font-family: 'Source Sans Pro';
	font-weight: bold;
	font-size: 1.4em;
	margin: 0 auto;
	width: 60%;
	letter-spacing: 3px;
}
/*----------------------------------- Chat Page Styles ------------------------------------*/
/* Q & A*/

.feedback{
	font-family: 'Segoe UI','lucida grande',tahoma,verdana;
	font-size: 12px;
	text-align: center;
}

#questionsContainerWrapper{
	border: 1px solid #EBEBEB;
	border-radius: 5px;
}

.twinAnswer,.twin
{
position: relative;
width: 98%;
padding: 0px;
background: #d7e4ed;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin: 10px auto;
}

.twinAnswer:after,.twin:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 5px 0 6px 7px;
border-color: transparent #d7e4ed;
display: block;
width: 0;
z-index: 1;
margin-top: -3px;
right: -6px;
top: 15%;
}

.userAnswer,.me
{
position: relative;
width: 98%;
padding: 0px;
background: #F5F5F5;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin: 10px auto;
}

.userAnswer:after,.me:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 12px 16px 12px;
border-color: #F5F5F5 transparent;
display: block;
width: 0;
z-index: 1;
margin-top: -6px;
left: -13px;
top: 62%;
}

.userAnswer,.twinAnswer{
	height: 70px;
}

.answer{
	padding: 5px 0;
	word-wrap : break-word;
	overflow-wrap : break-word;
}

.answerInputBox{
	display: inline-block;
	width: 74%;
	margin: 10px 10px 10px 0;
}

.answerSubmitButton{
	font-weight: bold;
	padding: 18px 16px;
}

/* Chat center styles*/
#chatLayout li{
list-style: none;
}

#chatBoxWrapper {
	border-radius: 5px;
	height: 490px;
	border: 1px solid #EBEBEB;
	margin-bottom: 10px;

}

#chatMessagesContainer{
	margin: 0;
	overflow: auto;
	height: 420px;
}

#chatTextArea{
	display: inline-block;
	width: 86%;
}

#chatSubmitButton{
	font-weight: bold;
	padding: 18px 16px;
	margin-left: 8px;
}

#chatBox > .row{
	margin-top: 10px;
}

.chatMessage {
	width: 90%;
	margin: 5px auto;
}

.senderName {
	font-family: 'Segoe UI','lucida grande',tahoma,verdana;
	font-size: 12px;
	color: #003E68;
	margin : 10px;

}

.twin .senderName{
	border-bottom: 1px dashed;
}

.chatMessageContent{
	margin-left: 15px;

}

#firstChatMessage{
	margin : 10px auto;
	text-align: center;
	font-weight: bold;
	color: #003E68;
	text-shadow: 1px 1px 3px rgba(150, 150, 212, 0.3);
}

#isTyping{
	color: green;
	display: inline-block;
}

/*Twin Profile*/

#reveal,#stayInTouch{
	font-weight: bold;
}

#reveal{
	letter-spacing: 1px;
}

#twinImage{
	border-radius: 5px;
}

#twinProfileContainer{
	text-align: center;
}

#contactBox{
	text-align: center;
}

#contactBox p{
	font-size: 12px;
}

.contactRespond{
	margin: 5px 10px;
	text-decoration: underline;
}

.twinInterest{
	margin: 5px;
}

/* Chats closed */

.chatFeedback{
	margin-top: 10px;
	text-align: center;
}

#twinFeedback{
	width: 45%;
	margin : 0 auto;
}

#traitChoices{
	margin-right: 10%;
}

/*Likes Container*/
#likesContainerWrapper{
	border-radius: 5px;
	-webkit-border-radius : 5px;
	-moz-border-radius: 5px;
	border: 1px solid #eee;
	margin-top: 10px;
	height: 225px;
}

.like{
	text-align: center;
	width: 190px;
	display: inline-block;
	float: left;
	padding: 5px;
}

.like img{
	border-radius: 3px;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
}

.likeName{
	font-size: 10px;
	font-weight: bold;
	width: 180px;
	display: inline-block;
}

#likesContainer{
	text-align: center;
	overflow-y: auto;
	height: 182px;
}

#likesContainer > p{
	margin: 5px;
}

.twinLikes {
	font-size: 12px;
}

/* Recent Activity */
#recentShouts{
	height: 200px;
	text-align: left;
	overflow-y :auto;
}

.recentShout,.recentChat{
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	background-color: #eee;
}

.recentShout:hover,.recentChat:hover{
	background-color: #ddd;
}

#recentChats{
	height: 170px;
	overflow-y : auto;
	text-align: left;
}

.recentChat{
	text-align: center;
	color: #333;
	display: inherit;
}

.recentChat .col-lg-9{
	font-size: 28px;
}

.messagesLength{
	font-size: 32px;
}



/*Fonts Pack*/
.small-fonts-1{
	font-family: 'Segoe UI','lucida grande',tahoma,verdana;
	font-size: 12px;
}

.small-fonts-2{
	font-family: 'Segoe UI','lucida grande',tahoma,verdana;
	font-size: 10px;
}

.timeStamp{
	font-family: 'Segoe UI','lucida grande',tahoma,verdana;
	font-size: 10px;
	color: #333;
}

.thin-font{
	font-weight: 300;
}